body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
}

section {
    background-color: #f1f1f1; /* Light gray */
    flex: 3;
    padding: 20px;
}

aside {
    background-color: #ddd; /* Darker gray */
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}
